<div class="topic-view-container">
    <div class="topic-table-container">
        <div class="table header-table">
            <div class="table-row header-row">
                <div class="table-head">
                    <span class="table-title">Topics</span>
                    <i aria-hidden="true" class="fa fa-plus-circle"></i>
                </div>
            </div>
            <div class="table-row header-row filter-row">
                <div class="table-head">
                    <div class="input-text-group filter-text">
                        <label class="input-text-underlined">
                            <input placeholder="Search Name" type="text">
                            <span class="status-icons">
                                <i aria-hidden="true" class='fa fa-filter'></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell">Yahoo</div>
            </div>
        </div>
    </div>
    <div class="right-side-table-container">
        <div class="user-table-container">
            <div class="table header-table">
                <div class="table-row header-row">
                    <div class="table-head">
                        <span class="table-title">Users</span>
                        <i aria-hidden="true" class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="table-row header-row filter-row">
                    <div class="table-head">
                        <div class="input-text-group filter-text">
                            <label class="input-text-underlined">
                                <input placeholder="Search Name" type="text">
                                <span class="status-icons">
                                    <i aria-hidden="true" class='fa fa-filter'></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Yahoo</div>
                </div>
            </div>
        </div>
        <div class="permission-table-container">
            <div class="table header-table">
                <div class="table-row header-row">
                    <div class="table-head">
                        <span class="table-title">Permisson</span>
                    </div>
                </div>
                <div class="table-row header-row filter-row">
                    <div class="table-head">
                        <div class="input-text-group filter-text">
                            <label class="input-text-underlined">
                                <input placeholder="Search Name" type="text">
                                <span class="status-icons">
                                    <i aria-hidden="true" class='fa fa-filter'></i>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">Yahoo</div>
                </div>
            </div>
        </div>
        <div class="action-table-container">
            <div class="table header-table">
                <div class="table-row header-row">
                    <div class="table-head">
                        <span class="table-title">Action</span>
                    </div>
                </div>
                <div class="table-row header-row">
                    <div class="table-head">
                        <label class="icon-container">
                            <i class="fa fa-trash" aria-hidden="true"> </i>
                        </label>
                        <span class="status-icons">
                        </span>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell">
                        <i class="fa fa-trash" aria-hidden="true"> </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>